<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infobip | Test</title>
    <meta name="description" content="Test.">
    <meta name="author" content="Igor Gašparović">
    <link rel="stylesheet" href="../assets/vendors/bootstrap/bootstrap.min.css">
    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/angular.min.js"></script>
    <script src="../assets/js/vendor/angular-ui-router.min.js"></script>
    <!--*********** FontAwesome ***********-->
    <script src="./assets/js/vendor/fontawesome.min.js"></script>
    <script src="./assets/js/vendor/solid.min.js"></script>
    <link rel="stylesheet" href="./assets/css/vendor/solid.min.css">
    <!--*********** FontAwesome ***********-->
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Carpool Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="" ng-click="go('ridesharing')">Ride Sharing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-click="goPlan(null)">Travel Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-click="go('cars')">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" ng-click="go('employees')">Employees</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <ui-view autoscroll="true"></ui-view>
    </div>
    <script src="./assets/js/app.js"></script>
</body>
</html>