<div>
    <h2>Travel Plan</h2>
    <form id="frm">
        <div class="form-group">
            <label>Start Location:</label>
            <input ng-model="d.startLoacation" class="form-control" >
        </div>
        <div class="form-group">
            <label>End Location:</label>
            <input ng-model="d.endLocation" class="form-control">
        </div>
        <div class="form-group">
            <label>Start Date:</label>
            <input ng-model="d.startDate" type="datetime-local" class="form-control">
        </div>
        <div class="form-group">
            <label>End Date:</label>
            <input ng-model="d.endDate" type="datetime-local" class="form-control">
        </div>
        <div class="pt-1 pb-3">
            <button class="btn btn-outline-primary" ng-click="getAvailableCars(d)"><i class="fa fa-car"></i> Get Available Cars</button>
        </div>
        <div>
            <div ng-if="availableCars.length>0" class="form-group">
                <label>Available Cars:</label>
                <select ng-model="d.car" ng-options="x.name for x in availableCars" class="form-control"></select>
            </div>
            <div ng-if="d.car.id" class="card form-group">
                <div class="card-body">
                    <label>Car:</label>
                    <ul>
                        <li>Name: <span class="font-weight-bold">{{d.car.name}}</span></li>
                        <li>Model: <span class="font-weight-bold">{{d.car.carType}}</span></li>
                        <li>Color: <span class="font-weight-bold">{{d.car.color}}</span></li>
                        <li>Plate: <span class="font-weight-bold">{{d.car.plate}}</span></li>
                        <li>Seats: <span class="font-weight-bold">{{d.car.seats}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card form-group">
            <div class="card-body">
                <div>
                    <label>Employees:</label>
                </div>
                <div class="form-check-inline p-2" ng-repeat="x in employees">
                    <label class="form-check-label">
                        <input ng-model="x.isSelected" type="checkbox" class="form-check-input" ng-checked="x.isSelected">{{x.name}} <i ng-if="x.isDriver" class="fa fa-id-badge" title="isDriver: {{x.isDriver}}"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" form="frm" class="btn btn-outline-primary" ng-click="save(d, employees)"><i class="fa fa-save"></i> Save</button>
        </div>
        <hr />
    </form>

    <json-directive data="d" desc="'d'"></json-directive>
    <json-directive data="employees" desc="'employees'"></json-directive>
    <json-directive data="availableCars" desc="'availableCars'"></json-directive>

</div>
